<template lang="html">
    <div class="users-list">
        <div v-if="loadingActive">
            <h2>Loading</h2>
        </div>
        <div v-if="!loadingActive">
            <ul>
                <li v-for="user in userList" :key="user.id">
                    <div>{{user.name}}</div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            userList: [
                {id: '1', name: 'Nazar Lee'},
                {id: '2', name: 'Mika J'},
                {id: '3', name: 'Cacao Mars'}
            ]
        }
    },
    computed: {
        loadingActive () {
            return this.$store.getters.loadingActive
        }
    }
}
</script>
