<template lang="html">
    <div class="user-signup">
        <h1>Signup</h1>
        <form
            class="form"
            @submit.prevent="onSignup"
        >
            <div class="form__item">
                <input
                    type="radio"
                    id="userSignupRoleUser"
                    name="user_signup_role"
                    value="user"
                    v-model="role"
                >
                <label for="userSignupRoleUser">Пользователь</label>
                <input
                    type="radio"
                    id="userSignupRoleMusician"
                    name="user_signup_role"
                    value="musician"
                    v-model="role"
                >
                <label for="userSignupRoleMusician">Музыкант</label>
                <input
                    type="radio"
                    id="userSignupRoleOrganizer"
                    name="user_signup_role"
                    value="organizer"
                    v-model="role"
                >
                <label for="userSignupRoleOrganizer">Организатор</label>
            </div>
            <div class="form__item">
                <input
                    type="email"
                    name="user_signup_email"
                    id="userSignupEmail"
                    v-model="email"
                    placeholder="Email"
                    required
                >
            </div>
            <div class="form__item">
                <input
                    type="password"
                    name="user_signup_password"
                    id="userSignupPassword"
                    v-model="password"
                    placeholder="Password"
                    required
                >
            </div>
            <div class="form__item">
                <input
                    type="password"
                    name="user_signup_confirm_password"
                    id="userSignupConfirmPassword"
                    v-model="confirmPassword"
                    placeholder="Confirm Password"
                >
            </div>
            <div class="form__item">
                <button
                    type="submit"
                >Зарегистрироваться</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                email: '',
                password: '',
                confirmPassword: '',
                role: ''
            }
        },
        computed: {
            user () {
                return this.$store.getters.user
            }
        },
        watch: {
            user (value) {
                if (value) {
                    this.$router.push('/')
                }
            }
        },
        methods: {
            onSignup () {
                this.$store.dispatch('signUserUp', {
                    email: this.email,
                    password: this.password
                })
            }
        }
    }
</script>
