<template lang="html">
    <div class="user-profile">
        <h1>User Profile</h1>
        <hr>
        <ul>
            <li>User ID: {{user.id}}</li>
        </ul>
        <hr>
        <h4>Релизовать кнопку "Нравится"</h4>
        <p>
            Релизовать кнопку "Нравится" на личных страницах пользователей.
            Эта кнопка будет добавляться только к пользователям с ролями: организатор и музыкант.
        </p>
    </div>
</template>

<script>
export default {
    computed: {
        user () {
            return this.$store.getters.user
        }
    },
    created() {
        console.log(this.user)
    }
}
</script>
