<template lang="html">
    <div class="user-signin">
        <h1>Signup</h1>
        <form
            class="form"
            @submit.prevent="onSignin"
        >
            <div class="form__item">
                <input
                    type="email"
                    name="email"
                    id="email"
                    v-model="email"
                    required
                >
            </div>
            <div class="form__item">
                <input
                    type="password"
                    name="password"
                    id="password"
                    v-model="password"
                    required
                >
            </div>
            <div class="form__item">
                <button
                    type="submit"
                >Войти</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                email: '',
                password: ''
            }
        },
        computed: {
            user () {
                return this.$store.getters.user
            }
        },
        watch: {
            user (value) {
                if (value) {
                    this.$router.push('/')
                }
            }
        },
        methods: {
            onSignin () {
                this.$store.dispatch('signUserIn', {
                    email: this.email,
                    password: this.password
                })
            }
        }
    }
</script>
