<template lang="html">
    <section class="content-collection">
        <header class="content-collection__header">
            <h2 class="content-collection__title">{{ title }}</h2>
        </header>
        <div class="content-collection__main">
            <slot>Контент из компонента родителя не был передан.</slot>
        </div>
    </section>
</template>

<script>
export default {
    props: ['title']
}
</script>
