<template lang="html">
    <button class="button button--icon button--dark" @click.prevent="onMainNavigationOpen">MENU</button>
</template>

<script>
export default {
    methods: {
        onMainNavigationOpen () {
            this.$store.dispatch('setOverlayActive', true)
            this.$store.dispatch('setMainNavigationActive', true)
        }
    }
}
</script>
