<template lang="html">
    <div class="user-navigation">
        <div v-if="user">
            <ul>
                <li>
                    <button @click.prevent="onLogout">Log out</button>
                </li>
            </ul>
        </div>
        <div v-if="!user">
            <ul>
                <li>
                    <router-link to="/signin">Sign in</router-link>
                </li>
                <li>
                    <router-link to="/signup">Sign up</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        user () {
            return this.$store.getters.user
        }
    },
    methods: {
        onLogout () {
            this.$store.dispatch('logout')
        }
    }
}
</script>

<style lang="less">
    .user-navigation {
        text-align: right;

        & li {
            display: inline;
        }
    }
</style>
