<template lang="html">
    <div class="create-party">
        <h1>Create Party Form</h1>
        <form
            class="form"
            @submit.prevent="onCreateParty"
        >
            <div class="form__item">
                <input
                    type="text"
                    name="title"
                    id="title"
                    v-model="title"
                    placeholder="Party title"
                    required
                >
            </div>
            <div class="form__item">
                <input
                    type="text"
                    name="location"
                    id="location"
                    v-model="location"
                    placeholder="Location"
                    required
                >
            </div>
            <div class="form__item">
                <button
                    type="button"
                    @click="onPickFile"
                >Upload image</button>
                <input
                    type="file"
                    style="display: none;"
                    ref="fileInput"
                    accept="image/*"
                    @change="onFilePicked"
                >
                <img :src="imageUrl" alt="Upload Preview" height="100" width="133">
            </div>
            <div class="form__item">
                <textarea
                	name="description"
                    id="description"
                    v-model="description"
                    placeholder="Description"
                ></textarea>
            </div>
            <div class="form__item">
                <button
                    type="submit"
                    :disabled="!formIsValid"
                >Создать вечеринку</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                title: '',
                description: '',
                location: '',
                imageUrl: '',
                binaryImage: null
            }
        },
        computed: {
            user () {
                return this.$store.getters.user
            },
            formIsValid () {
                return this.title !== '' && this.location !== ''
            }
        },
        methods: {
            onCreateParty () {
                if (!this.formIsValid) {
                    return
                }
                if (!this.binaryImage) {
                    return
                }
                const partyData = {
                    title: this.title,
                    location: this.location,
                    description: this.description,
                    binaryImage: this.binaryImage,
                    date: new Date()
                }
                this.$store.dispatch('createParty', partyData)
                this.$router.push('/')
            },

            onPickFile () {
                this.$refs.fileInput.click()
            },

            onFilePicked (event) {
                const files = event.target.files // array with BINARY values (binary type).
                let filename = files[0].name
                if (filename.lastIndexOf('.') <= 0) {
                    return alert('Please add a valid file.')
                }
                this.binaryImage = files[0]
                const fileReader = new FileReader()
                fileReader.readAsDataURL(this.binaryImage)
                fileReader.addEventListener('load', () => {
                    this.imageUrl = fileReader.result // result - is BASE64 value (string type).
                })
            }
        }
    }
</script>
