<template lang="html">
    <div class="parties-list">
        <div v-if="loadingActive">
            <h2>Loading</h2>
        </div>
        <div v-if="!loadingActive">
            <ul>
                <li v-for="party in parties" :key="party.id" @click="onLoadParty(party.id)">
                    <div>{{party.title}}</div>
                    <div>{{party.description}}</div>
                    <div>
                        <img :src="party.imageUrl" :alt="party.title">
                    </div>
                    <!-- router-link template example
                    <div>
                        <router-link :to="'/parties/' + party.id">View Party</router-link>
                    </div>
                    -->
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        parties () {
            return this.$store.getters.featuredParties
        },
        loadingActive () {
            return this.$store.getters.loadingActive
        }
    },
    methods: {
        onLoadParty (id) {
            this.$router.push('/parties/' + id)
        }
    }
}
</script>

<style lang="less">
    .parties-list {

        & ul {
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        & li {
            float: left;
            width: 33.33%;
            padding: 1em;
            background: linear-gradient(to right, rgba(77,77,77,1) 0%, rgba(0,0,0,0.84) 100%);
        }
    }
</style>
