<template lang="html">
    <div class="registor-dialog">
        <button @click="onUserInvolve">{{ userIsInvolved ? 'Уже там' : 'Собираюсь пойти' }}</button>
    </div>
</template>

<script>
export default {
    props: ['partyId'],
    computed: {
        userIsInvolved () {
            return this.$store.getters.user.registeredParties.findIndex(partyId => {
                return partyId === this.partyId
            }) >= 0
        }
    },
    methods: {
        onUserInvolve () {
            if (this.userIsInvolved) {
                this.$store.dispatch('uninvolvedUserFromParty', this.partyId)
            } else {
                this.$store.dispatch('involvedUserForParty', this.partyId)
            }
        }
    }
}
</script>
