<template lang="html">
    <div class="single-party">
        <div v-if="loadingActive">
            <!--
            Сделатть кастомную верстку макета странице во время загрузки данных.
            Дизайн: Силуэты контента используемых компонентов.
            Реализация: Использовать только CSS
            и специальные наиминование для слассов (напр: maket__single-party)
            -->
            <h2>Loading</h2>
        </div>
        <div v-if="!loadingActive">
            <template v-if="userIsCreator">
                <edit-party-details-dialog :party="party"></edit-party-details-dialog>
            </template>
            <h1>{{ party.title }}</h1>
            <div>{{ party.location }}</div>
            <div>{{ party.description }}</div>
            <div>
                <img style="width:222px;" :src="party.imageUrl" :alt="party.title">
            </div>
            <h2>Lineup:</h2>
            <ul>
                <li><a href="#">YahaZ</a></li>
                <li><a href="#">Mika J</a></li>
                <li><a href="#">Nazar Lee</a></li>
                <li><a href="#">Cacao Mars</a></li>
            </ul>
            <hr>
            <register-dialog v-if="userIsAuthenticated && !userIsCreator" :partyId="party.id"></register-dialog>
            <hr>
        </div>
    </div>
</template>

<script>
import RegisterDialog from './register-dialog.vue'

export default {
    props: ['id'],
    computed: {
        party () {
            return this.$store.getters.loadedParty(this.id)
        },
        loadingActive () {
            return this.$store.getters.loadingActive
        },
        userIsAuthenticated() {
            return this.$store.getters.user
        },
        userIsCreator() {
            if (!this.userIsAuthenticated) {
                return false
            }
            return this.$store.getters.user.id === this.party.creatorId
        }
    },
    components: {
        RegisterDialog
    }
}
</script>
