// SCREENS VIEWPORT
@screenExtraBig:    1600px;
@screenBig:         1240px;
@screenMiddle:      1024px;
@screenSmall:       768px;
@screenExtraSmall:  480px;
// COLORS -> GRAYS
@colorGrayVeryLight: #ccc;
@colorGrayLight: #555;
@colorGrayMedium: #343436;
@colorGrayMediumDark: #28282b;
@colorGrayDark: #1e1e1e;
@colorGrayVeryDark: #111;
// COLORS -> CONTENT COLORS
@colorText: #999;
@colorHeaders: #bfbfbf;
@colorMusic: #1c509e;
@colorParties: #8a9e1c;
@colorUser: #9e1c95;
// COLORS -> UTILITY COLORS
@colorGreen: #47cf73;
@colorYellow: #fcd000;
@colorRed: #ff3c41;
@colorBlue: #76daff;
