<template lang="html">
    <div class="components-list">

        <content-collection title="Parties">
            <parties-list></parties-list>
        </content-collection>

        <content-collection title="Peoples">
            <users-list></users-list>
        </content-collection>

    </div>
</template>

<script>
import ContentCollection from '../content/content-collection.vue'
import UsersList from '../user/users-list.vue'
import PartiesList from '../parties/parties-list.vue'

export default {
    components: {
        ContentCollection,
        UsersList,
        PartiesList
    }
}
</script>
