<template lang="html">
    <div id="app" class="wrapper">
        <header class="header">
            <div class="header__item">
                <main-navigation-toggle></main-navigation-toggle>
            </div>
            <div class="header__item">
                <user-navigation></user-navigation>
            </div>
        </header>
        <main-navigation></main-navigation>
        <main class="main" role="main">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </main>
        <footer class="footer">
            <div class="footer__item"><small>Make with ❤ by Nazar Linovetskiy</small></div>
        </footer>
        <layout-overlay v-if="overlayActive"></layout-overlay>
    </div>
</template>

<script>
import MainNavigation       from './components/navigations/main-navigation.vue'
import MainNavigationToggle from './components/navigations/main-navigation-toggle.vue'
import UserNavigation       from './components/navigations/user-navigation.vue'
import LayoutOverlay        from './components/layouts/layout-overlay.vue'

export default {
    name: 'app',
    computed: {
        overlayActive () {
            return this.$store.getters.overlayActive
        }
    },
    components: {
        MainNavigation,
        MainNavigationToggle,
        UserNavigation,
        LayoutOverlay
    }
}
</script>

<style lang="less">
@import (reference) "./less/vars.less";

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

/* START: Reset Default Styles */
html, body, div, span, applet,
object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre,
a, abbr, acronym, address, big,
cite, code, del, dfn, em,
img, ins, kbd, q, s,
samp, small, strike,
strong, sub, sup, tt,
var, dl, dt, dd, ol, ul,
li, fieldset, form, label,
legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
/* END: Reset Default Styles */
/* START: General */
html {
    height: 100%;
    background: @colorGrayDark;
    box-sizing: border-box;
}

 *, *:before, *:after {
    box-sizing: inherit;
}

body {
     height: 100%;
     color: @colorText;
     font-family: 'Average', serif;
     -webkit-text-size-adjust: 100%;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 20px;
     line-height: 1.6;
}

a {
    color: @colorBlue;

    &:hover {
        color: @colorBlue;
    }
}

img {
    display: block;
    width: 100%;
}

ul, ol {
    padding: 0 0 0 40px;
}

strong {
    font-weight: 700;
}

iframe {
    display: block;
}

::selection {
      background: #ff0000;
      color: #fff;
      text-shadow: none;
}
/* END: General */
/* START: Typography */
h1, h2, h3, h4, h5, h6 {
    color: @colorHeaders;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 54px;
    line-height: 72px;
    font-weight: 800;
}

h2 {
    font-size: 34px;
    line-height: 46px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}
/* END: Typography */
/* START: Form Elements */
button,
input[type="button"] {
    padding: 0;
    border: none;
    display: inline-block;
    font-size: 1em;
    line-height: 1.6;
    cursor: pointer;
}

input,
textarea {
    font-size: 1em;
    line-height: 1.6;
}

label {
    display: block;
}
/* END: Form Elements */
/* START: General Blocks Layout */
.wrapper {
    display: grid;
    grid-template-columns: minmax(320px, 1024px);
    justify-content: center;
}

.header {
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 34px 1fr;
    padding: 20px;
    background: @colorGrayVeryDark;
}

.main {
    background: @colorGrayMedium;
    padding: 80px;
    margin: 160px 0 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    background: @colorGrayVeryDark;
    padding: 20px 80px;
    margin: 0 0 80px;
}

.components-list {
    display: grid;
    grid-row-gap: 80px;
}
/* END: General Blocks Layout */
/* START: Media Queries */
@media only screen and (max-width: @screenMiddle) {
    /* START: General Blocks Layout */
    .main {
        margin: 80px 0 0;
        padding: 60px;
    }

    .footer {
        margin: 0;
        padding: 20px 60px;
    }

    .components-list {
        grid-row-gap: 60px;
    }
    /* END: General Blocks Layout */
}

@media only screen and (max-width: @screenSmall) {
    /* START: General */
    body {
        font-size: 18px;
    }
    /* END: General */
    /* START: Typography */
    h1 {
        font-size: 42px;
        line-height: 56px;
    }

    h2 {
        font-size: 26px;
        line-height: 36px;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
    }
    /* END Typography */
    /* START: General Blocks Layout */
    .main {
        margin: 76px 0 0;
        padding: 40px;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        padding: 20px 40px;
    }

    .components-list {
        grid-row-gap: 40px;
    }
    /* END: General Blocks Layout */
}

@media only screen and (max-width: @screenExtraSmall) {
    /* START: General Blocks Layout */
    .main {
        padding: 40px 20px;
    }

    .footer {
        padding: 20px;
    }
    /* END: General Blocks Layout */
}
/* END: Media Queries */
</style>
