<template lang="html">
    <div class="edit-party-details-dialog">
        <!-- START: Editing template -->
        <div>
            <div class="form__item">
                <input
                    type="text"
                    name="title"
                    id="title"
                    v-model="editedTitle"
                    placeholder="Party title"
                    required
                >
            </div>
            <div class="form__item">
                <textarea
                	name="description"
                    id="description"
                    v-model="editedDescription"
                    placeholder="Description"
                ></textarea>
            </div>
        </div>
        <footer>
            <div>
                <button @click="onSaveChanges">Save</button>
            </div>
        </footer>
        <!-- START: Editing template -->
        <hr>
    </div>
</template>

<script>
    export default {
        props: ['party'],
        data () {
            return {
                editedTitle: this.party.title,
                editedDescription: this.party.description
            }
        },
        methods: {
            onSaveChanges () {
                if (this.editedTitle.trim() === '' || this.editedDescription.trim() === '') {
                    return false
                }
                this.$store.dispatch('updateParty', {
                    id: this.party.id,
                    title: this.editedTitle,
                    description: this.editedDescription
                })
            }
        }
    }
</script>
